<h1>Available Tools:</h1>
<p>Find me in app/views/tools/index.html.erb</p>

<% @all.each do |tool| %>
  <p>
    <%= link_to tool.name, tool_path(tool) %> -
    <%= link_to tool.category.name, category_path(tool.category) %>
  </p>
<% end %>
