<h1>Tools#show</h1>
<p>Find me in app/views/tools/show.html.erb</p>

<p>Tool: <%= @instance.name %></p>
<p>
  Currently offered by:
  <ul>
    <% @instance.user_tools.each do |ut| %>
      <li>
        <%= link_to ut.user.username, user_path(ut.user) %>
        for $<%= ut.cost %> / day
        <%= link_to "Add to Cart", add_path(cart_tool:{user_tool_id:ut.id,cart_id:@cart.id})%>
      </li>
    <% end %>
  </ul>
</p>
