<h1>Tools#show</h1>
<p>Find me in app/views/tools/show.html.erb</p>

<p>Tool: <%= @instance.name %></p>
<p>
  Currently offered by:
  <ul>
    <% @instance.users.each do |user| %>
      <li>
        <%= link_to user.username, user_path(user) %> -
        <%= link_to "Add to Cart",  %>
      </li>
    <% end %>
  </ul>
</p>
