<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <p><%= @user.username %></p>
            <p>Name: <%= @user.name %></p>
            <p>Phone: <%= @user.phone_number %></p>
          </ul>
        </div>
        <div class="col-md-10 offset-1">
          <%= link_to 'Add Tool', new_tool_path(@user), class: 'btn btn-danger' %>
        </div>
      </div>
      <div class="row"></div>
    </div>
    <div class="col-md-8">
      <% @user.user_tools.each %>
    </div>
  </div>
</div>
