<h1>Welcome to Toolbox!</h1>
<p>
Toolbox is a renter-lender marketplace, where you can list tools for rent, and rent from other users.
<br>
<br>
You can start by searching for the tool(s) you need by all tools, or by category.
<br>
<br>
Tools may have multiple listings - when you find the one you want, add it to your cart!
<br>
<br>
Once you're finished, go to your cart and checkout.
<br>
Pretend there's a checkout form, and our partners at Uber will have your tool(s) delivered to you in no time!
<br>
<br>
(unfortunately, we have yet to build out the rent and return functionality, so just use your imagination)
</p>
