
<div class="container">
  <%= render 'layouts/messages' %>


  <% @carts.each do |cart| %>
    <ul>
      <li>
        <%= link_to cart.formatted_date, past_order_path(cart) %>
        <br>
        Tools: <% cart.tools.each do |t| %>
          <%= t.name %>
        <% end %>
        <br>
        Subtotal: <%= cart.total %>
      </li>
    </ul>
  <% end %>

</div>
