<h2>Carts#show</h2>
<h2><%= @instance.updated_at %></h2>

<% @instance.user_tools.each do |ut| %>
<h3>Tools:</h3>
<br>
<p><%= link_to ut.tool.name, user_tool_path(ut) %> -  $<%= ut.cost %></p>
<% end %>
<br>
<p>Subtotal: $<%= @instance.total %></p>
