/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree,
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
.bg-light {
  background-color: #ff9900
  !important;
}
@import "bootstrap";


p.text-position {
  text-align: left;
  max-width: 500px;
}

//.main-container {
//  width: 75vw;
//  margin: auto;
//}

.centered {
 position: absolute;
 top: 40%;
 left: 25%;
 // margin-top: 50px;
 // margin-left: -100px;
}

#logo {
 float: left;
 font-size: 1.7em;
 color: #000;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}

#logo2 {
 text-align: center;
 font-size: 10em;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: -1px;
 font-weight: bold;
}

body {
  background-color: #e6e6e6;
}

h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  // font-family: 'Poiret One', cursive;
  // font-family: 'Syncopate', sans-serif;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
}

.right {
  float: right;
  position: relative;
}

.btn-margin {
  margin-bottom: 5px;
}

#btn-move-down {
  margin: 10px 0;
  position: relative;
  color: #000;
  transition: color .7s;
  text-decoration: none;
  float: bottom;
}

ul li a.btn.btn-primary {
  margin-left: 15px;
}

footer.footer a {
  color: #000000;
  transition: color .7s;
  text-decoration: none;
}

//footer.footer a:hover {
//  color: green;
//}

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 5px solid #eaeaea;
//   color: #777;
//   position: absolute;
//   bottom: 0px;
// }

footer a:hover {
  color: green;
}

// footer small {
//   float: left;
// }

// footer ul {
//   float: right;
//   list-style: none;
// }
//
// footer ul li {
//   float: left;
//   margin-left: 15px;
// }

#user-page {
  color: #000;
}

.container .footer {
  //color: #ffffff;
}


.row .card-deck .col-sm-4 {
  margin-bottom: 15px;
}

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
}
#bg img {
  position: absolute;
  left: 0;
  right: 0;
  //bottom: 0;
  //margin: auto;
  min-width: 50%;
  min-height: 50%;
  // filter: blur(1px);
  // -webkit-filter: blur(1px);
}

 #bg {
  //position: fixed;
  top: 0;
  left: 0;


   /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.subtotal_tag {
  float: right;
}
