<div class="container">

  <h3>Categories:</h3>
  <% @all.each do |category| %>
  <div class="d-inline-flex flex-column bd-highlight mb-3">
    <div class="card">

        <div class="card-body">
          <p class="card-text"><%= link_to category.name, category %></p>
          <p class="card-text"><small class="text-muted">Current Listings: <%= "#{category.tools.length}" %></small></p>
        </div>
    </div>
  </div>
  <% end %>

</div>
