<h1>Categories#show</h1>
<h3>Category: <%= @instance.name %></h3>

<% @instance.tools.each do |tool| %>
<p>
  <%= link_to tool.name, tool_path(tool) %> - 
  <%= tool.description %>
  <%= link_to tool.user_tool.user.username, user_path(tool.user_tool.user)%>
</p>
<% end %>
